<script>
	$('.dropdown-toggle').dropdown()
</script>

<%= link_to "Tineke", root_path, :class => 'brand' %>
<ul class="nav .nav">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
    <%end%>
</ul>
<ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
			<% if user_signed_in? %>
			<%= current_user.name %>
			<b class="caret"></b>
			<%end%>
		</a>
	<% if user_signed_in? %>
	<ul class="dropdown-menu role="menu" aria-labelledby="drop3">
    <li>
    	<%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
  <li class="divider"></li>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
</ul>
